body {
    background-color: lightgray;
}
#canvas {
    width: 50vw;
    height: 50vh;
    margin: 50px auto;
    background-color: white;
    position: relative;
}
.brush{
    width: 10px;
    height: 10px;
    background-color: pink;
    position: absolute;
    transform: translate(-50%, -50%)
}
.circle-brush {
    border-radius: 50%;
}